@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: 100;
    font-style: normal;
    color: rgb(33, 33, 33);
    background-color: rgb(255, 255, 255);
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px;
}

nav {
    display: flex;
    justify-content: center;
    margin: 30px 50px;
}

.icons1 {
    fill: white;
}

svg {
    width: 15px;
    height: auto;
}

ul {
    list-style: none;
    margin-right: 18px;
}

li {
    display: inline-block;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: pink;
    transition: .5s;
}



#spotify {
    width: 80px;
    margin-left: -10px;
}

#youtube {
    width: 40px;
}


/* end of nav */



@media screen and (max-width:800px) {
   
    svg {
        display: none;
    }
}


/* font-sizes */

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

h4 {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
}


/* layout */


/* trans */

.bodyTransition {
    transition-property: opacity;
    transition-duration: 1s;
}

.bodyOpacityBefore {
    opacity: 0;
}

.bodyOpacityAfter {
    opacity: 1;
}

.opacityTransition {
    transition-property: opacity;
    transition-duration: 1s;
}

.opacityBefore {
    opacity: 0;
}

.opacityAfter {
    opacity: 1;
    margin: 5% 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* archive css */

.block {
    margin: 5% 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    margin: 5%;
    width: 400px;
    display: block;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

img {
    width: 400px;
    height: auto;
}


/* aboutcss */

.headimg {
    display: flex;
    justify-content: center;
}

.abouttext {
    width: 300px;
}

.aboutsection {
    display: flex;
    justify-content: center;
}
